numpy==1.26.4  # 用于科学计算，例如数组操作、数学函数等
scipy==1.12.0  # (可选) 如果你在某个地方使用了 scipy 库，例如信号处理、优化等
matplotlib==3.8.3 # 用于绘制图表，例如 RMSE 曲线、时间开销图等
tqdm==4.66.2  # 用于显示循环进度条，增强用户体验
numba==0.59.1  # (可选) 如果你使用了 Numba 来加速 Python 代码